<!-- Get From pages-gallery.html -->
<div *ngIf="lobbyButtonsVisible" class="text-center">
    <ul class="list-inline categories-filter animation-nav" id="filter">
        <li class="list-inline-item">
            <a class="categories active" data-filter="*">
                {{ 'game_board.backgammon_variants.normal' | translate }}
            </a>
        </li>
        <li class="list-inline-item">
            <a class="categories" data-filter=".project">
                {{ 'game_board.backgammon_variants.gulbara' | translate }}
            </a>
        </li>
        <li class="list-inline-item">
            <a class="categories" data-filter=".designing">
                {{ 'game_board.backgammon_variants.tapa' | translate }}
            </a>
        </li>
    </ul>
</div>