@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/*
 * Game Board
 */

#card-table {
    background-color: green;
    width: 710px;
    height: 510px;
    border: solid 6px brown;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #111 1px 1px 2px;
}

/*
 * Game Actions Box
 */
#card-actions {
    background-color: green;
    width: 710px;
    height: 70px;
    border: solid 6px brown;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #111 1px 1px 2px;
    
    margin: 15px auto auto auto;
}

.announce-button {
    margin-left: 10px;
    position: relative;
    top: -5px;
    color: black;
    font-family: Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.announce-button img {
    vertical-align: unset;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px !important;
    }
}

.modal-footer {
    display: block !important;
}
