<table class="table table-striped table-advance table-hover" id="tblCategories">
	<thead class="table-light">
        <tr>
            <th>{{ 'vs_application.template.items_index_row_number' | trans( {},'VSApplicationBundle' ) }}</th>
            <th>{{ 'vs_application.template.items_index_row_name' | trans( {},'VSApplicationBundle' ) }}</th>
            <th>{{ 'vs_application.template.items_index_row_translations' | trans( {},'VSApplicationBundle' ) }}</th>
            <th>{{ 'vs_application.template.items_index_row_action' | trans( {},'VSApplicationBundle' ) }}</th>
        </tr>
    </thead>
	<tbody>
        {% for item in items %}
            {% include 'Pages/GameCategories/_simpleTreeTableRows.html.twig' with {'item': item, 'parentId': 0} %}
        {% endfor %}
    </tbody>
</table>
