<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white" style="position:fixed; bottom:0; width: 100%;">
    <div class="container">
        <a href="http://vankosoft.org">VankoSoft.Org</a>
        <small>Copyright &copy; {% if "now"|date("Y") > 2022 %}2022 - {% endif %}{{ "now"|date("Y") }}</small>
    </div>
</div>