<div id="game-board" align="center">
    <div id="card-table">
        <ng-container *ngFor="let player of game.getPlayers(); let i = index">
            <div [ngClass]="developementClass"
                class="{{ player.containerId.charAt( 0 ).toLowerCase() + player.containerId.slice( 1 ) }}"
	            id="{{ player.containerId }}"
	        >
	            <div id="{{ player.cardsId }}" class="playerCards float-start"></div>
	            <player-announce
	               [gameProvider]="gameProvider"
	               [player]="player"
	           ></player-announce>
	        </div>
	    </ng-container>
    </div>
    
    <div id="card-actions">
        <game-start *ngIf="gameStarted != true"
            [isLoggedIn]="isLoggedIn"
            [game]="game"
        ></game-start>
        
        <card-game-announce *ngIf="gameStarted == true"
            [gameAnnounceIcon]="gameAnnounceIcon"
            [announceSymbols]="announceSymbols"
        ></card-game-announce>
    </div>
</div>