<div class="row">
    <div class="col-3 app-chat">
        <ng-container *ngIf="isStarted && ! isPlayAi">
            <game-chat></game-chat>
        </ng-container>
    </div>
    
    <div class="col-6">
        <app-chess-container
            [lobbyButtonsVisible]="lobbyButtonsVisible"
            [isLoggedIn]="isLoggedIn"
            [introPlaying]="introPlaying"
            [hasPlayer]="hasPlayer"
            (lobbyButtonsVisibleChanged)="lobbyButtonsVisibleChanged($event)"
            (isStarted)="gameIsStarted($event)"
            (isPlayAi)="gameIsPlayAi($event)"
        ></app-chess-container>
        
        <app-busy [busy]="busy$ | async" [lobbyButtonsVisible]="lobbyButtonsVisible"></app-busy>
        <app-error-handler
            [errors]="errors$ | async"
            (save)="saveErrorReport($event)"
        ></app-error-handler>
    </div>
    
    <div class="col-3">
        <game-players></game-players>
    </div>
</div>