<div>
    
    <div *ngIf="gameBiddingVisible && currentPlayer == myPosition">
        <ng-container *ngFor="let icon of announceSymbols">
            <a href="javascript:void(0);"
                id="{{ icon.key }}"
                ngbTooltip="{{ icon.tooltip }}" placement="top"
                (click)="makeBid( icon.id )"
            >
                <span class="announce-button" [innerHTML]="icon.value"></span>
            </a>
        </ng-container>
    </div>
    
    <div *ngIf="gameContractVisible" class="float-end me-3">
        <span class="announce-button">{{ 'game_board.game' | translate }}:</span>&nbsp;
        <span class="announce-button" [innerHTML]="getContractIcon()"></span>
    </div>
    
</div>