@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.announce-button {
    margin-left: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.announce-button img {
    vertical-align: unset;
}

.announce-disabled {
    display: none;
}

span.player-position::first-letter {
    text-transform: capitalize;
}

.contract-button {
    margin-left: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
