<div class="p-1 float-start game-board-buttons-container">
    <ng-container *ngIf="! isRoomSelected">
        <button *ngIf="hasRooms" (click)="selectGameRoom()" class="default-button">
            {{ 'game_board.select_room' | translate }}
        </button>
        <button (click)="createGameRoom()" class="default-button">
            {{ 'game_board.create_room' | translate }}
        </button>
    </ng-container>
    
    <ng-container *ngIf="isRoomSelected">
        <button (click)="newGame()" *ngIf="newVisible" class="default-button">
            {{ 'game_board.new_game' | translate }}
        </button>
        <button (click)="exitGame()" *ngIf="exitVisible" class="secondary-button">
            {{ 'game_board.exit_game' | translate }}
        </button>
        
        <button (click)="resign()" *ngIf="acceptDoublingVisible" class="red-button smaller">
            {{ 'game_board.resign' | translate }}
        </button>
    </ng-container>
</div>
