<div class="p-1 float-start game-board-buttons-container">
    <a *ngIf="! isLoggedIn" href="/login" class="default-button">
        {{ 'dialogs.login' | translate }}
    </a>
    
    <ng-container *ngIf="lobbyButtonsVisible">
        <button *ngIf="isLoggedIn" (click)="playGame()" class="default-button">
            {{ 'game_board.play_game' | translate }}
        </button>
        
        <button *ngIf="isLoggedIn" (click)="inviteFriendClick()" class="default-button">
            {{ 'game_board.invite_friend' | translate }}
        </button>
    </ng-container>
    
    <ng-container *ngIf="! lobbyButtonsVisible">
        <button (click)="newGame()" *ngIf="newVisible" class="default-button">
            {{ 'game_board.new_game' | translate }}
        </button>
        
        <button (click)="exitGame()" *ngIf="exitVisible" class="secondary-button">
            {{ 'game_board.exit_game' | translate }}
        </button>
        
        <button (click)="resign()" *ngIf="acceptDoublingVisible" class="red-button smaller">
            {{ 'game_board.resign' | translate }}
        </button>
    </ng-container>
</div>
