@use '../../../../../../backgamon_styles/styles.scss';

.show {
    width: 100% !important;
    animation: pull-down;
    animation-duration: 0.5s;
}
/*
.modal-backdrop.show {
    opacity: 0 !important;
}
*/

button {
    margin: 4px;
    
    @media screen and (max-height: 445px) {
        font-size: 12px !important;
        padding: 6px 12px 6px 12px !important;
    }
}
