<div class="bridge-belote-container" id="GameBoardContainer">
    
    <div class="messages" #messages>
        <app-messages
            [initial]="width"
            [shown]="messageCenter"
            [message]="message$ | async"
        ></app-messages>
    </div>
    
    <bridge-belote-board
        class="game-board"
        
        [width]="width"
        [height]="height"
        [game]="gameDto$ | async"
        [playerCards]="playerCardsDto"
        [playerBids]="playerBidsDto"
        [myPosition]="playerPosition$ | async"
        [themeName]="themeName"
        [timeLeft]="timeLeft$ | async"
        [lobbyButtonsVisible]="lobbyButtonsVisible"
    ></bridge-belote-board>
    
    <div id="card-actions" class="card-actions">
        <app-board-buttons *ngIf="started != true"
            [isLoggedIn]="isLoggedIn"
            [lobbyButtonsVisible]="lobbyButtonsVisible"
            
            [newVisible]="newVisible"
            [exitVisible]="exitVisible"
            
            [debugGameSoundsVisible]="debugGameSoundsVisible"
            
            (onLogin)="login()"
            (onNew)="newGame()"
            (onExit)="exitGame()"
            (onOpenDebugGameSoundsDialog)="openDebugGameSoundsDialog()"
            
            (onPlayWithComputer)="playAi()"
            
            (onPlayGame)="playGame($event)"
            (onInviteFriend)="inviteFriend()"
            (onAcceptInvite)="acceptInvite( $event )"
            (onCancelInvite)="cancelInvite()"
        ></app-board-buttons>
        
        <bridge-belote-contract *ngIf="started == true"
            [gameAnnounceIcon]="gameAnnounceIcon"
            [gameContractVisible]="gameContractVisible"
            [validBids] = "validBids"
            [currentPlayer] = "currentPlayer"
            (onPlayerMakeBid)="doBid( $event )"
        ></bridge-belote-contract>
    </div>
    
</div>