<div class="table-responsive game-players-container float-start">
    <app-loader *ngIf="showSpinner"></app-loader>
    
    <caption class="font-weight-bold">{{ 'game_board.players.title' | translate }}</caption>
    <table class="table caption-top">
        <tbody *ngIf="! ( isFetchingPlayers$ | async )">
            <ng-container *ngFor="let player of players">
                <tr *ngIf="player.type == 'user'">
                    <td class="text-start p-1">
                        <ng-container *ngIf="player.connected == true">
                            <span class="text-success">
                                <i class="ri-checkbox-circle-line fs-17 align-middle"></i>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="player.connected == false">
                            <span class="text-danger">
                                <i class="ri-close-circle-line fs-17 align-middle"></i>
                            </span>
                        </ng-container>
                        {{ player.name }}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>