<app-loader *ngIf="showSpinner"></app-loader>

<div class="game-players-container float-end">
    <table>
        <thead>
            <tr>
                <th class="border-bottom p-2 font-weight-bold">{{ 'game_board.players.title' | translate }}</th>
            </tr>
        </thead>
        <tbody *ngIf="! ( isFetchingPlayers$ | async )">
            <tr *ngFor="let player of players">
                <td *ngIf="player.type == 'user'" class="border-bottom p-2">{{ player.name }}</td>
            </tr>
        </tbody>
    </table>
</div>