<div class="row">
    <div class="col-2">
        <div>
            <game-chat></game-chat>
        </div>
    </div>
    
    <div class="col-8">
        <app-backgammon-variants [lobbyButtonsVisible]="lobbyButtonsVisible"></app-backgammon-variants>
        
        <app-backgammon-container
            [lobbyButtonsVisible]="lobbyButtonsVisible"
            [isLoggedIn]="isLoggedIn"
            [introPlaying]="introPlaying"
            [isLoggedIn]="isLoggedIn"
            [hasPlayer]="hasPlayer"
        ></app-backgammon-container>
        
        <app-busy [busy]="busy$ | async" [lobbyButtonsVisible]="lobbyButtonsVisible"></app-busy>
        <app-error-handler
            [errors]="errors$ | async"
            (save)="saveErrorReport($event)"
        ></app-error-handler>
    </div>
    
    <div class="col-2">
        <game-players></game-players>
    </div>
</div>
