{% extends "@VSApplication/layout.html.twig" %}

{% block content %}
    <h1>GameCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game_category.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vsapp_game_categories_index') }}">back to list</a>

    <a href="{{ path('vsapp_game_categories_update', {'id': game_category.id}) }}">edit</a>
{% endblock %}
