/*
 * Player Positions
 */
.leftPlayer {
    position: absolute;
    top: 130px;
    left: 10px;
    width: 140px;
    height: 250px;
}

.topPlayer {
    position: absolute;
    top: 10px;
    left: 230px;
    width: 250px;
    height: 140px;
}

.rightPlayer {
    position: absolute;
    top: 130px;
    right: 10px;
    width: 140px;
    height: 250px;
}

.bottomPlayer {
    position: absolute;
    bottom: 10px;
    left: 230px;
    width: 250px;
    height: 140px;
}

/*
 * Add Some Styles Only Developement Builds
 */
.developement {
    border: 1px solid black;
}
