<div *ngIf="playerDto" class="player" [title]="playerDto.name">
    <div class="text-nowrap">Score {{ playerDto.elo }}</div>
    <img
        *ngIf="playerDto.photoUrl"
        class="user-photo"
        [src]="getPhotoUrl()"
        alt="User Photo"
    />
    <div *ngIf="!playerDto.photoUrl" class="initials">
        {{ getInitials() }}
    </div>
    <div class="text-nowrap">
        {{ this.playerDto.gold }}
        <i class="fas fa-coins"></i>
    </div>
    <div *ngIf="doubling" class="double-cube">{{ doubling }}</div>
</div>
