.game-board {
    display: inline-block;
    touch-action: none;
    transition: transform .8s ease-in-out;
}

.flipped {
    transform: rotate(180deg);
}

.board-buttons {
    background-color: green;
    width: 710px;
    height: 80px;
    border: solid 6px brown;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #111 1px 1px 2px;
    margin: 15px auto auto auto;
}
