.game-board {
    display: inline-block;
    touch-action: none;
    transition: transform .8s ease-in-out;
}

.rotated {
    transform: rotate(180deg);
}

.flipped {
    transform: rotate(180deg);
}
