<div id="game-board" align="center">
    <div id="board-table">
        <canvas
            #canvas
            class="game-board"
            [ngClass]="{ flipped: flipped }"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp($event)"
            (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event)"
            (touchmove)="onTouchMove($event)"
        ></canvas>
    </div>
    
    <div class="board-buttons" #boardButtons>
      <app-board-buttons
        [isLoggedIn]="isLoggedIn"
        [hasPlayer]="hasPlayer"
        [isRoomSelected]="isRoomSelected"
        [game]="game"
      
        [undoVisible]="undoVisible"
        [sendVisible]="sendVisible"
        [rollButtonVisible]="rollButtonVisible"
        [newVisible]="newVisible"
        [exitVisible]="exitVisible"
        (onUndoMove)="undoMove()"
        (onSendMoves)="sendMoves()"
        (onRoll)="rollButtonClick()"
        (onNew)="newGame()"
        (onExit)="exitGame()"
      ></app-board-buttons>
    </div>
</div>
