<div class="game-statistics-container">
    <table>
        <thead>
            <tr>
                <th class="border-end border-bottom p-2 font-weight-bold">WE</th>
                <th class="border-start border-bottom p-2 font-weight-bold">YOU</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of gameResults; index as i">
                <td class="border-end border-bottom p-2"></td>
                <td class="border-start border-bottom p-2"></td>
            </tr>
        </tbody>
    </table>
</div>