{% extends "base-game.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags( 'js/bridge-belote', null, 'GamePlatform_AngularJs' ) }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags( 'js/bridge-belote', null, 'GamePlatform_AngularJs' ) }}
{% endblock %}

{% block content %}
    <div class="container text-center" style="height: 100%">
        <app-bridge-belote urlLoginBySignature="{{ urlLoginBySignature }}"></app-bridge-belote>
    </div>
{% endblock %}
