<div *ngIf="isLoggedIn()" class="app-chat float-end">
    <caption class="font-weight-bold text-nowrap">{{ 'side-bars.chat.title' | translate }}</caption>
    <div class="grid">
        <textarea
            class="conversation"
            readonly
            [textContent]="chatMessages$ | async"
            tabindex="-1"
            rows="15"
        ></textarea>
        <textarea
            class="users"
            readonly
            [textContent]="users$ | async"
            tabindex="-1"
            rows="15"
        ></textarea>
        <form
            [formGroup]="formGroup"
            (submit)="onSubmit()"
            autocomplete="chrome-off"
            class="input-form"
        >
            <input
                #msginput
                formControlName="message"
                type="text"
                class="msginput"
                [placeholder]="'chat.entermessage' | translate"
                maxlength="150"
            />
            <!-- Not setting focus to the button so it stays open in mobile view -->
            <button
                (mousedown)="$event.preventDefault()"
                class="return-button flat-button"
            >
                <i class="fas fa-share"></i>
            </button>
        </form>
    </div>
</div>
