.game-rooms-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
    
.border-start {
    border-style: solid !important;
    border-color: black !important;
}

.border-end {
    border-style: solid !important;
    border-color: black !important;
}

.border-bottom {
    border-style: solid !important;
    border-color: black !important;
}

/* https://stackoverflow.com/a/21175120/12693473 */
.game-rooms-container table {
    width: 100%;
}

.game-rooms-tbody, .game-rooms-row { display: block; }

.game-rooms-container table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.game-rooms-container table tbody {
    height: 200px;
    overflow-y: auto;
}
