<div id="GameBoardContainer">
    
    <div class="messages" #messages>
        <app-messages
            [initial]="width"
            [shown]="messageCenter"
            [message]="message$ | async"
            [timeLeft]="timeLeft$ | async"
            
            [lobbyButtonsVisible]="lobbyButtonsVisible"
            [isLoggedIn]="isLoggedIn"
        ></app-messages>
    </div>
    
    <div *ngIf="introPlaying" class="mute-button">
        <app-button [small]="true" (click)="toggleMuted()">
          <i
            [ngClass]="{
                fas: true,
                'fa-music': introMuted,
                'fa-volume-off': ! introMuted
            }"
          >
          </i>
          <span class="x-char">{{ introMuted ? '' : 'x' }}</span>
        </app-button>
    </div>
  
    <!-- Not Needed
    <app-board-menu
      class="app-menu"
      (flip)="this.flipped = !this.flipped"
      (resign)="resignGame()"
    ></app-board-menu>
    -->
    
    <app-invite-game></app-invite-game>
    
    <div
        *ngIf="(gameDto$ | async)?.isGoldGame && ! lobbyButtonsVisible"
        class="players"
        [ngStyle]="{ height: height + 'px' }"
        [ngClass]="{ rotated: rotated, flipped: flipped }"
    >
        
        <app-board-player
            [playerDto]="gameDto.whitePlayer"
            [doubling]="getDoubling(PlayerColor.white) | async"
        >
        </app-board-player>
        
        <div class="stake-container">
            <div class="stake" [ngClass]="{ hilightStake: animatingStake }">
                {{ lokalStake }}
                <i class="fas fa-coins"></i>
            </div>
        </div>
        
        <app-board-player
            [playerDto]="gameDto.blackPlayer"
            [doubling]="getDoubling(PlayerColor.black) | async"
        >
        </app-board-player>
        
    </div>
  
    <app-backgammon-board
        class="game-board"
        
        [width]="width"
        [height]="height"
        [game]="gameDto$ | async"
        [myColor]="playerColor$ | async"
        [dicesVisible]="dicesVisible"
        [rotated]="rotated"
        [flipped]="flipped"
        [themeName]="themeName"
        [timeLeft]="timeLeft$ | async"
        [tutorialStep]="tutorialStep$ | async"
        [editing]="editing"
        [lobbyButtonsVisible]="lobbyButtonsVisible"
        (addMove)="doMove($event)"
        (moveAnimFinished)="moveAnimFinished()"
        (addEditMove)="doEditMove($event)"
    ></app-backgammon-board>
    
    <div class="dices" #dices>
        <app-dices
            *ngIf="dicesVisible"
            [dices]="dicesDto"
            [color]="diceColor"
        ></app-dices>
    </div>
    
    <div *ngIf="!tutorial" class="backgammon-board-buttons" #backgammonBoardButtons>
        <backgammon-board-buttons
          [undoVisible]="undoVisible"
          [sendVisible]="sendVisible"
          [rollButtonVisible]="rollButtonVisible"
          [requestHintVisible]="requestHintVisible"
          (onUndoMove)="undoMove()"
          (onSendMoves)="sendMoves()"
          (onRoll)="rollButtonClick()"
          (onRequestHint)="requestHint()"
        >
        </backgammon-board-buttons>
    </div>
  
    <div class="board-buttons" #boardButtons>
        <app-board-buttons
            [isLoggedIn]="isLoggedIn"
            [lobbyButtonsVisible]="lobbyButtonsVisible"
            [isRoomSelected]="isRoomSelected"
            [hasRooms]="hasRooms"
            
            [newVisible]="newVisible"
            [exitVisible]="exitVisible"
            (onNew)="newGame()"
            (onExit)="exitGame()"
            (onResign)="resignGame()"
            (onInviteFriend)="inviteFriend()"
            (onPlayGame)="playGame()"
            
            (onSelectGameRoom)="selectGameRoom()"
            (onCreateGameRoom)="createGameRoom()"
        ></app-board-buttons>
    </div>
    
    <div *ngIf="playAiQuestion" class="playAiQuestion app-colors">
        <app-play-ai-question
            (onPlayAi)="playAi()"
            (onKeepWaiting)="keepWaiting()"
        ></app-play-ai-question>
    </div>
    
    <div *ngIf="editing" class="editing-input">
        <app-input-copy [text]="gameString$ | async"></app-input-copy>
        <!-- <div class="game-id">{{ (gameDto$ | async)?.id | uppercase }}</div> -->
    </div>
</div>
