<div class="game-container-inner">
    <div class="row">
        <div class="col-2">
            <game-statistics></game-statistics>
        </div>
        
        <div class="col-8" id="GameBoardContainer">
            <div class="messages mb-1" #messages>
                <app-messages
                    [initial]="width"
                    [shown]="messageCenter"
                    [message]="message$ | async"
                    [timeLeft]="timeLeft$ | async"
                ></app-messages>
            </div>
            
            <!-- Not Needed
            <app-board-menu
              class="app-menu"
              (flip)="this.flipped = !this.flipped"
              (resign)="resignGame()"
            ></app-board-menu>
            -->
            
            <app-backgammon-board
                class="game-board"
                
                [isLoggedIn]="isLoggedIn"
                [hasPlayer]="hasPlayer"
                
                [width]="width"
                [height]="height"
                [game]="gameDto$ | async"
                [myColor]="playerColor$ | async"
                [flipped]="flipped"
                [dicesVisible]="dicesVisible"
                [rollButtonVisible]="rollButtonVisible"
                [sendVisible]="dicesVisible"
                [undoVisible]="undoVisible"
                [newVisible]="newVisible"
                [exitVisible]="exitVisible"
                (addMove)="doMove($event)"
                (moveAnimFinished)="moveAnimFinished()"
            ></app-backgammon-board>
            <div class="dices" #dices>
                <app-dices
                    *ngIf="dicesVisible"
                    [dices]="dices$ | async"
                    [color]="diceColor"
                ></app-dices>
            </div>
        </div>
        
        <div class="col-2">
            <game-players></game-players>
            <div class="mt-4">
                <game-rooms></game-rooms>
            </div>
        </div>
    </div>
    
    <div class="game-id">{{ (gameDto$ | async)?.id | uppercase }}</div>   
</div>