<div id="GameBoardContainer">
    <div class="messages" #messages>
        <app-messages
            [initial]="width"
            [shown]="messageCenter"
            [message]="message$ | async"
            [timeLeft]="timeLeft$ | async"
        ></app-messages>
    </div>
    
    <div *ngIf="introPlaying" class="mute-button">
        <app-button [small]="true" (click)="toggleMuted()">
          <i
            [ngClass]="{
                fas: true,
                'fa-music': introMuted,
                'fa-volume-off': ! introMuted
            }"
          >
          </i>
          <span class="x-char">{{ introMuted ? '' : 'x' }}</span>
        </app-button>
    </div>
  
    <!-- Not Needed
    <app-board-menu
      class="app-menu"
      (flip)="this.flipped = !this.flipped"
      (resign)="resignGame()"
    ></app-board-menu>
    -->
    
    <app-backgammon-board
        class="game-board"
        
        [width]="width"
        [height]="height"
        [game]="gameDto$ | async"
        [myColor]="playerColor$ | async"
        [dicesVisible]="dicesVisible"
        [rotated]="rotated"
        [flipped]="flipped"
        [themeName]="themeName"
        [timeLeft]="timeLeft$ | async"
        [editing]="editing"
        [rollButtonVisible]="rollButtonVisible"
        [sendVisible]="dicesVisible"
        [undoVisible]="undoVisible"
        [newVisible]="newVisible"
        [exitVisible]="exitVisible"
        (addMove)="doMove($event)"
        (moveAnimFinished)="moveAnimFinished()"
        (addEditMove)="doEditMove($event)"
    ></app-backgammon-board>
    
    <div class="dices" #dices>
        <app-dices
            *ngIf="dicesVisible"
            [dices]="dices$ | async"
            [color]="diceColor"
        ></app-dices>
    </div>
    
    <div class="board-buttons" #boardButtons>
        <app-board-buttons
            [isRoomSelected]="isRoomSelected"
            [hasRooms]="hasRooms"
            
            [undoVisible]="undoVisible"
            [sendVisible]="sendVisible"
            [rollButtonVisible]="rollButtonVisible"
            [newVisible]="newVisible"
            [exitVisible]="exitVisible"
            (onUndoMove)="undoMove()"
            (onSendMoves)="sendMoves()"
            (onRoll)="rollButtonClick()"
            (onNew)="newGame()"
            (onExit)="exitGame()"
            
            (onSelectGameRoom)="selectGameRoom()"
            (onCreateGameRoom)="createGameRoom()"
        ></app-board-buttons>
    </div>
    
    <div *ngIf="playAiQuestion" class="playAiQuestion app-colors">
        <app-play-ai-question
            (onPlayAi)="playAi()"
            (onKeepWaiting)="keepWaiting()"
        ></app-play-ai-question>
    </div>
    
    <div class="game-id">{{ (gameDto$ | async)?.id | uppercase }}</div>   
</div>
