<div class="bridge-belote-container" id="GameBoardContainer">
    <div class="messages" #messages>
        <app-messages
            [initial]="width"
            [shown]="messageCenter"
            [message]="message$ | async"
        ></app-messages>
    </div>
    
    <card-game-board
        class="game-board"
        
        [width]="width"
        [height]="height"
        [game]="gameDto$ | async"
        [rotated]="rotated"
        [flipped]="flipped"
        [playerCards]="playerCardsDto"
        [playerBids]="playerBidsDto"
        [playerAnnounces]="playerAnnouncesDto"
        [deck]="deckDto"
        [pile]="pileDto"
        [myPosition]="playerPosition$ | async"
        [dummyPlayer]="dummyPlayer$ | async"
        [dummyOwner]="dummyOwner$ | async"
        [themeName]="themeName"
        [timeLeft]="timeLeft$ | async"
        [lobbyButtonsVisible]="lobbyButtonsVisible"
        (playCard)="doPlayCard($event)"
        (dummyPlayCard)="doDummyPlayCard($event)"
        (playCardAnimFinished)="playCardAnimFinished()"
    ></card-game-board>
    
    <div id="card-actions" class="card-actions">
        <app-board-buttons
            [isLoggedIn]="isLoggedIn"
            [lobbyButtonsVisible]="lobbyButtonsVisible"
            
            [newVisible]="newVisible"
            [exitVisible]="exitVisible"
            [rotateVisible]="rotateVisible"
            [flipVisible]="flipVisible"
            [newRoundVisible]="newRoundVisible"
            [playWithComputerVisible]="playWithComputerVisible"
            [openAuctionDialogVisible]="openAuctionDialogVisible"
            
            [debugButtonsVisible]="debugButtonsVisible"
            [debugGameSoundsVisible]="debugGameSoundsVisible"
            
            (onLogin)="login()"
            (onNew)="newGame()"
            (onNewRound)="newRound()"
            (onExit)="exitGame()"
            
            (onOpenContractBridgeAuctionDialog)="openContractBridgeAuctionDialog()"
            (onOpenDebugGameSoundsDialog)="openDebugGameSoundsDialog()"
            
            (onPlayWithComputer)="playAi()"
            (onOpenAuctionDialog)="openContractBridgeAuctionDialog()"
            
            (onPlayGame)="playGame($event)"
            (onInviteFriend)="inviteFriend()"
            (onAcceptInvite)="acceptInvite( $event )"
            (onCancelInvite)="cancelInvite()"
            
            (onRotate)="onRotated()"
            (onFlip)="onFlipped()"
            (onResign)="resignGame()"
        ></app-board-buttons>
        
        <bridge-belote-contract
            [gameContractVisible]="gameContractVisible"
            [gameBiddingVisible] = "gameBiddingVisible"
            [validBids] = "validBids"
            [contract] = "contract"
            [currentPlayer] = "currentPlayer"
            (onPlayerMakeBid)="doBid( $event )"
        ></bridge-belote-contract>
    </div>
</div>