<div class="modal-header">
    <h5 class="modal-title">{{ 'dialogs.login' | translate }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>

<div class="modal-body">
    <p class="fw-bold text-decoration-underline">{{ 'dialogs.not_loggedin_message' | translate }}</p>
    <p>
        <span class="me-2">{{ 'dialogs.have_an_account_question' | translate }},</span>
        <a href="/login">{{ 'dialogs.login_link' | translate }}</a>
    </p>
    <p>
        <span class="me-2">{{ 'dialogs.not_an_account_question' | translate }},</span>
        <a href="/register">{{ 'dialogs.create_account_link' | translate }}</a>
    </p>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-10">&nbsp;</div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-dark float-end"
                (click)="dismissModal()"
            >
                {{ 'dialogs.close' | translate }}
            </button>
        </div>
    </div>
</div>