<div class="modal-header">
    <h3 class="modal-title">{{ 'contract-bridge-auction.auction' | translate }}</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>

<div class="modal-body">
    
    <!-- Example Screenshot: https://github.com/PatrykkMar/Bridget/blob/main/Screenshots/1.png -->
    <div class="text-center mb-2">
        <div>It's youe turn. Highest bid is 3D</div>
        <div>E countered</div>
    </div>
    
    <div class="bridge-auction-container">
        <div class="text-center">
            <mat-button-toggle-group
                *ngIf="bidTrump"
                #group="matButtonToggleGroup"
                [hideSingleSelectionIndicator]="true"
                [(value)]="bidValue"
                (change)="onChangeBidValue()"
                (click)="setBidValue( group )"
            >
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
                <mat-button-toggle value="7">7</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
        <!-- Game HTML Entities: https://www.w3schools.com/charsets/ref_utf_cards.asp -->
        <div class="text-center">
            <mat-button-toggle-group
                #group="matButtonToggleGroup"
                [hideSingleSelectionIndicator]="true"
                [(value)]="bidTrump"
                (change)="onChangeBidTrump()"
                (click)="setBidTrump( group )"
            >
                <mat-button-toggle value="c">&#9827;</mat-button-toggle>
                <mat-button-toggle value="d">&#9830;</mat-button-toggle>
                <mat-button-toggle value="h">&#9829;</mat-button-toggle>
                <mat-button-toggle value="s">&#9824;</mat-button-toggle>
                <mat-button-toggle value="ba">BA</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
        <!--  
        <table class="bridge-table mt-4">
            <thead>
                <tr>
                    <th>{{ 'contract-bridge-auction.west' | translate }}</th>
                    <th>{{ 'contract-bridge-auction.north' | translate }}</th>
                    <th>{{ 'contract-bridge-auction.east' | translate }}</th>
                    <th>{{ 'contract-bridge-auction.south' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="pass">Pass</span></td>
                    <td>1 <span class="bid-suit">♥</span></td>
                    <td><span class="pass">Pass</span></td>
                    <td>2 <span class="bid-suit">♥</span></td>
                </tr>
                <tr>
                    <td><span class="pass">Pass</span></td>
                    <td><span class="pass">Pass</span></td>
                    <td><span class="pass">Pass</span></td>
                    <td></td>
                </tr>
                <tr><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td></tr>
            </tbody>
        </table>
        -->
    </div>
</div>

<!-- https://github.com/PatrykkMar/Bridget/blob/main/Screenshots/1.png -->
<div class="modal-footer">
    <div class="row">
        <div class="col-5">&nbsp;</div>
        <div class="col-7">
            <span class="float-end">
                <button type="button" class="btn btn-outline-dark"
                    *ngIf="lastBid"
                    (click)="makeBid()"
                >
                    {{ 'contract-bridge-auction.counter' | translate }}
                </button>
                
                <button type="button" class="btn btn-outline-dark"
                    *ngIf="lastBid && lastBid.KontraPlayer"
                    (click)="makeBid()"
                >
                    {{ 'contract-bridge-auction.recounter' | translate }}
                </button>
                
                <button type="button" class="btn btn-outline-dark" (click)="makeBid()" >
                    {{ bidTrump ? ( 'contract-bridge-auction.bid' | translate ) : ( 'contract-bridge-auction.pass' | translate ) }}
                </button>
            </span>
        </div>
    </div>
</div>