<div class="modal-header">
    <h3 class="modal-title">{{ 'contract-bridge-auction.auction' | translate }}</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>

<div class="modal-body">
    <!-- Example Screenshot: https://github.com/PatrykkMar/Bridget/blob/main/Screenshots/1.png -->
    <div class="text-center mb-2" *ngIf="lastBid">
        <div>
            {{ 'contract-bridge-auction.youe_turn' | translate }} 
            {{ 'contract-bridge-auction.highest_bid' | translate }} 
            <span [innerHTML]="lastBidString"></span>
        </div>
        <div *ngIf="lastBid.KontraPlayer">
            {{ playerPositionString( lastBid.KontraPlayer ) }} 
            {{ 'contract-bridge-auction.countered' | translate }}
        </div>
    </div>
    
    <div class="bridge-auction-container">
        <div class="text-center">
            <mat-button-toggle-group
                *ngIf="bidTrump"
                #group="matButtonToggleGroup"
                [hideSingleSelectionIndicator]="true"
                [(value)]="bidValue"
                (change)="onChangeBidValue()"
                (click)="setBidValue( group )"
            >
                @for ( value of [1, 2, 3, 4, 5, 6, 7]; track $index ) {
                    <mat-button-toggle
                        value="{{ value }}"
                        [disabled]="bidValueIsDisabled( value )"
                    >{{ value }}</mat-button-toggle>
                }
            </mat-button-toggle-group>
        </div>
        
        <!-- Game HTML Entities: https://www.w3schools.com/charsets/ref_utf_cards.asp -->
        <div class="text-center">
            <mat-button-toggle-group
                #group="matButtonToggleGroup"
                [hideSingleSelectionIndicator]="true"
                [(value)]="bidTrump"
                (change)="onChangeBidTrump()"
                (click)="setBidTrump( group )"
            >
                @for ( icon of announceSymbols; track $index ) {
                    <mat-button-toggle
                        value="{{ icon.id }}"
                        [disabled]="bidTrumpIsDisabled( icon.id )"
                    >
                        <span [innerHTML]="icon.htmlEntity"></span>
                    </mat-button-toggle>
                }
            </mat-button-toggle-group>
        </div>
        
        <div class="accordion-item" *ngIf="bidHistory.length">
            <h2 class="accordion-header" id="headingOne">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                >
                    {{ 'contract-bridge-auction.bid_history' | translate }}
                </button>
            </h2>
            <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    <card-game-bid-history></card-game-bid-history>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- https://github.com/PatrykkMar/Bridget/blob/main/Screenshots/1.png -->
<div class="modal-footer">
    <div class="row">
        <div class="col-5">&nbsp;</div>
        <div class="col-7">
            <span class="float-end">
                <button type="button" class="btn btn-outline-dark"
                    *ngIf="lastBid"
                    (click)="makeBid()"
                >
                    {{ 'contract-bridge-auction.counter' | translate }}
                </button>
                
                <button type="button" class="btn btn-outline-dark"
                    *ngIf="lastBid && lastBid.KontraPlayer"
                    (click)="makeBid()"
                >
                    {{ 'contract-bridge-auction.recounter' | translate }}
                </button>
                
                <button type="button" class="btn btn-outline-dark" (click)="makeBid()" >
                    {{ bidTrump ? ( 'contract-bridge-auction.bid' | translate ) : ( 'contract-bridge-auction.pass' | translate ) }}
                </button>
            </span>
        </div>
    </div>
</div>