@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.announce-button {
    margin-left: 10px;
    position: relative;
    top: -5px;
    color: black;
    font-family: Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.announce-button img {
    vertical-align: unset;
}
