<div class="float-end">
    <div id="AnnounceContainer">
        <ng-container *ngFor="let icon of announceSymbols; let i = index">
            <a href="#" 
                id="{{ icon.key }}"
                ngbTooltip="{{ icon.tooltip }}" placement="top"
                (click)="onPlayerAnnounce( icon.id, $event )"
            >
                <span class="announce-button" [innerHTML]="icon.value"></span>
            </a>
        </ng-container>
    </div>
    <div id="GameAnnounce">
        <span class="announce-button">{{ 'game_board.game' | translate }}:</span>&nbsp;
        <span class="announce-button" [innerHTML]="gameAnnounceIcon"></span>
    </div>
</div>