<div class="modal-header">
    <h5 class="modal-title">{{ 'invite.invite_friend' | translate }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>

<div class="modal-body">
    <p>{{ 'invite.copylink' | translate }}</p>
    <div *ngIf="invite$ | async">
        <app-input-copy [text]="link"></app-input-copy>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-8">&nbsp;</div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-dark" (click)="startClick()">
                {{ 'invite.startgame' | translate }}
            </button>
            
            <button type="button" class="btn btn-outline-dark float-end" (click)="cancelClick()">
                {{ 'invite.cancelinvite' | translate }}
            </button>
        </div>
    </div>
</div>