{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags( 'js/bridge-belote', null, 'CardGameTheme' ) }}
{% endblock %}

{% block content %}
    <div class="container text-center" style="height: 100%">
        <div id="ReactApplication"></div>
    </div>
{% endblock %}
