{% extends "base.html.twig" %}

{% block javascripts %}
	{{ encore_entry_script_tags( 'js/bridge-belote', null, 'CardGameTheme' ) }}
{% endblock %}

{% block content %}
    <div id="card-table"></div>
{% endblock %}
