.game-rooms-table .dib {
    display: inline-block !important;
}

.game-rooms-table .player-slot i {
    height: 44px;
    color: #e0e0e0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    left: 0;
    font-size: 2em;
}

.game-rooms-table .player-slot i.fa-sign-in {
    cursor: pointer;
}
