<div class="backgammon-variants-container float-end">
    <caption class="font-weight-bold text-nowrap">{{ 'game_board.backgammon_variants.variants' | translate }}</caption>
    <table class="table caption-top">
        <tbody>
            <tr>
                <td class="p-2">
                    <a href="/games/backgammon/normal">{{ 'game_board.backgammon_variants.normal' | translate }}</a>
                </td>
            </tr>
            <tr>
                <td class="p-2">
                    <a href="/games/backgammon/gulbara">{{ 'game_board.backgammon_variants.gulbara' | translate }}</a>
                </td>
            </tr>
            <tr>
                <td class="p-2">
                    <a href="/games/backgammon/tapa">{{ 'game_board.backgammon_variants.tapa' | translate }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>