.app-chat {
    min-width: 175px;
}
    
.messages {
    position: absolute;
    display: inline-block;
}

.mute-button {
    position: absolute;
    right: 40px;
    top: -30px;
    transform: scale(0.8);
    i {
        width: 20px;
    }
    
    .x-char {
        position: relative;
        top: -3px;
        left: 0px;
        font-weight: 600;
        font-size: 12px;
    }
}

.players {
    position: absolute;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    width: calc(10% - 8px);
    overflow: hidden;
    margin-left: 8px;
    
    &.rotated {
        right: 0;
        flex-direction: column-reverse;
        transform: none !important;
    }
    
    &.flipped {
        flex-direction: column-reverse;
        transform: none !important;
    }
}

.players .player * {
    margin-bottom: 0 !important;
}

.stake-container {
    /*background-color: #111;*/
    display: inline-block;
    width: calc(100% - 8px);
    border-radius: 7px;
    padding: 4px 0 4px 0;
}

.stake {
    text-align: center;
    font-size: 18px;
    
    /*@include glod-text();*/
    background: black;
    font-size: 22px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hilightStake {
    font-weight: 600;
    text-shadow: 0px 0px 5px rgba(251, 245, 183, 0.5);
}
